<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        body {
            background-color: rgb(245, 245, 245)
        }

        .create-book:hover {
            transform: translateY(0) scale(1.2);
        }

        .view-book:hover {
            transform: translateY(0) scale(1.2);
        }

        .view-author:hover {
            transform: translateY(0) scale(1.2);
        }

        .create-author:hover {
            transform: translateY(0) scale(1.2);
        }

        .banner-text {
            font-size: 100px;
            color: dimgray;
            margin-top: 150px;
        }

        .banner-text2 {
            color: goldenrod
        }

        span {
            color: goldenrod
        }

        .marquee {
            font-size: 50px;
            font-weight: 500;
        }

        .marquee1 {
            color: dimgray;
        }
    </style>
</head>

<body>
    <div class="text-center">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> Library<span> Management</span> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active create-book" aria-current="page" href="admin/book/create">
                                Create Book
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active view-book" href="admin/book/index">View Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active view-author" href="#">View Author</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active create-author" href="#">Create Author</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <marquee class="marquee">
            Welcome To <span class="marquee1">
                Library <span class="banner-text2">
                    Management
                </span>
            </span>
        </marquee>

        <h1 class="banner-text">
            Library <span class="banner-text2">Management</span>
            </span>
        </h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</body>

</html>
